<!-- <link rel="preload" href="{{ "fonts/JetBrainsMono/JetBrainsMono-Regular.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "fonts/OpenSans/OpenSans-Regular.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "fonts/OpenSans/OpenSans-Bold.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "fonts/OpenSans/OpenSans-Light.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "fonts/OpenSans/OpenSans-SemiBold.woff2" | absURL }}" as="font" type="font/woff2" crossorigin> -->
