<section class="section portfolio">
  <div class="container">
    {{ range .content }}
    <div class="row justify-content-center d-flex align-items-center">
      <div class="col-12 text-center">
        <h3 id="projects" class="fs-1 text-primary">Our project</h3>
      </div>
      <div class="col-8 text-start">
        {{ with .pretitle }}
          <p class="text-danger mb-2">{{ . }}</p>
        {{ end }}
        {{ with .title }}
          <h3 class="fs-2 text-secondary pb-3">{{ . }}</h3>
        {{ end }}
        {{ with .text }}
          <p class="text-black-61 pb-3">{{ . }}</p>
        {{ end }}
        <div class="">
          {{ range .buttons }}
            <a class="btn btn-outline-primary px-4" href="{{ .url }}">{{ .label }}</a>
          {{ end }}
        </div>
      </div>
      <div class="col-4 text-start">
        {{ with .image }}
          <img src="{{ . }}" class="image-fluid">
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
</section>
