<section class="section">
  <div class="container-fluid">
    <div class="row justify-content-center ">
      <div class="col-12">
        {{ with .content.title }}
          <h3 class="fs-1 text-center text-primary pb-3">{{ . }}</h3>
        {{ end }}
      </div>
      {{ with .content.featured }}
      <div class="col-xs-12">
        <div class="pb-4">{{ partial "utilities/image-third.html" "images/testimonials-left-quote.png" }}</div>
        <div class="card border-0 shadow p-4">
          <p class="card-text fst-italic">{{ .text }}</p>
          <p class="text-primary">- {{ .client }}</p>
        </div>
        <div class="pt-4 text-end">{{ partial "utilities/image-third.html" "images/testimonials-right-quote.png" }}</div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
