<div class="row justify-content-md-center mt-5">
    <div class="col-md-5 text-center">
        <h6><a id="nous-contacter"></a>Contact</h6>
        <h4 class="text-muted">Une démo ? Un projet ?</h4>
        <p class="">
            <strong><a id="mailto" href="mailto:Not for you robots :-)">Veuillez activer javascript pour obtenir notre mail</a></strong>
        </p>
        <ul class="list-unstyled">
            <li>Defensive Lab Agency</li>
            <li>31 avenue de Ségur</li>
            <li>75007 Paris</li>
        </ul>
    </div>
    <div class="col-md-5 text-center">
        <iframe sandbox="allow-scripts" width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=2.307541966438294%2C48.85020348556333%2C2.311082482337952%2C48.85183429480329&amp;layer=mapnik&amp;marker=48.85101889682306%2C2.3093122243881226"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=48.85102&amp;mlon=2.30931#map=19/48.85102/2.30931&amp;layers=N">Agrandir la carte</a></small>
    </div>
</div>