<footer class="footer has-text-centered">
    <div class="container">
    <div class="columns">
        <div class="column is-8-desktop is-offset-2-desktop">
        <p>
            <strong class="has-text-weight-semibold">
            Defensive Lab Agency SAS
            </strong>
        </p>
        <p class="is-size-7">
            31 avenue de Ségur<br>
            75007 Paris
        </p>
        </div>
    </div>
    </div>
</footer>
{{ $js := resources.Get "js/jquery.js" | minify }}
{{ $secureJS := $js | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

{{ $js := resources.Get "js/main.js" | minify }}
{{ $secureJS := $js | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

{{ $js := resources.Get "js/matomo.js" | minify }}
{{ $secureJS := $js | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
