<nav class="navbar is-transparent no-shadow" role="navigation" aria-label="main navigation">
    <div class="container">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
        <img src="/images/logos/logo_without_text.svg" alt="" width="52px" height="52px"> Defensive Lab Agency
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        </a>
    </div>

        <div id="navbar-menu" class="navbar-menu is-static">

        <div class="navbar-end">

            <a href="/#solutions" id="solutionsLink" class="navbar-item is-secondary">
            Solutions
            </a>
            <a href="/#products" id="productsLink" class="navbar-item is-secondary">
            Products
            </a>
            <a href="/#services" id="servicesLink" class="navbar-item is-secondary">
            Services
            </a>
            <a href="/post/"class="navbar-item is-secondary">
            Blog
            </a>

            <a href="mailto:contact@defensive-lab.agency" class="navbar-item">
            <span class="button is-primary is-rounded">
                Contact us
            </span>
            </a>
        </div>
        </div>
    </div>
</nav>