<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="icon" type="image/png" href="{{ "img/icon.png" | relURL }}" />
    <title>{{ .Title }} {{ if ne .Title .Site.Title }} &middot; {{ .Site.Title }}{{ end }}</title>
    {{ partial "head-meta" . }}

    <link rel="stylesheet" href="{{ "css/bootstrap.min.css" | relURL }}" />
    <link href="{{ "css/style.css" | relURL }}" rel="stylesheet">

  </head>
  <body class="font-weight-light">
    {{ partial "header" . }}
    <div class="container">
      <div class="row justdify-content-md-center mt-5 mb-5">
        <div class="col-md-7">
          <h1>Defensive Lab<br>Agency</h1>
          <p class="h4 text-muted">We protect what is most precious to you - <br>your strategic assets.</p>
          <div class="mt-5 text-center">
              <a class="btn btn-primary" href="#contact-us">Let's talk</a>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4 text-center">
            <img src="{{ "img/big-logo.png" | relURL }}" width="230px" height="230px" class="d-inline-block align-top" alt="{{ .Title }} logo">
        </div>
      </div>
      <hr>
      <div class="row justify-content-md-center mt-5">
        <div class="col-md-12 text-center">
            <h6><a id="qui-sommes-nous"></a>Who we are</h6>
            <h4 class="text-muted">Our values</h4>
            <p class="text-justify">Defensive Lab Agency is a unique security boutique: it closes the gap around mobile devices and strategic assets and enables a renewed trust in IoT. Our multifaceted skillset supports nearly everything mobile and sensor-based in tomorrow's connected world. Best of all, the tech coming out of Defensive Lab Agency's R&D stream puts you back in control of your most important and sensitive information, whatever you choose that to be.</p>
            <p class="text-justify">We have built the Defensive Lab Agency with rigour, intelligence and ethics. The result is a company we are proud of – your most trusted ally, one that stands the test of time.</p>
            <h4 class="text-muted">Our mission</h4>
            <p class="text-justify">Our team combines experience with passion, creativity, and perseverance. A distributed, multilingual bunch of unique skill sets and agile minds, we work from France, from rural back roads to corporate boardrooms, committed to supporting our clients.</p>
            <p class="text-justify">We strive for simplicity. We deliver sophistication. Defensive Lab Agency is all about advanced end-point security, privacy and control over connected devices. Our multidisciplinary team aims at useful innovation and pragmatic R&D allying ethics and business efficiency. Through our unique positioning, we provide holistic security: from prototyping to audits, from anti-counterfeit monitoring to strengthening authentication, from research to production.</p>
        </div>
      </div>
      <hr>
      <div class="row justify-content-md-center mt-5">
        <div class="col-md-12 text-center mb-4">
            <h6><a id="que-faisons-nous"></a>What we do</h6>
            <h4 class="text-muted">We protect your strategic assets</h4>
        </div>
        <div class="col-md-3 text-center">
            <object data="{{ "img/app_security.svg" | relURL }}" class="mb-3" height="60px" type="image/svg+xml">
                <img src="{{ "img/app_security.png" | relURL }}" class="mb-3" height="60px" alt="mobile apps security logo"/>
            </object>
            <h4 class="text-primary">Mobile apps security</h4>
            <p class="mt-3">Our connected lives are mobiles. So are threats. We are the guardians of your mobile transformation: our solutions help prevent counterfeit apps and manage your mobile end-points.</p>
            <div class="mt-2 mb-5 text-center d-block d-md-none d-lg-none d-xl-none">
                <a class="btn btn-primary" href="/en/products-services#mobile-apps-security">More information</a>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <object data="{{ "img/iot_security.svg" | relURL }}" class="mb-3" height="60px" type="image/svg+xml">
                <img src="{{ "img/iot_security.png" | relURL }}" class="mb-3" height="60px" alt="iot security logo"/>
            </object>
            <h4 class="text-primary">IoT security</h4>
            <p class="mt-3">Connected coffee mugs, "smart" washing machines... However we choose to name them, everyday connectivity-enabled objects are increasingly pervasive. Have you secured the ones you provide?</p>
            <div class="mt-2 mb-5 text-center d-block d-md-none d-lg-none d-xl-none">
                <a class="btn btn-primary" href="/en/products-services#iot-security">More information</a>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <object data="{{ "img/investigation.svg" | relURL }}" class="mb-3" height="60px" type="image/svg+xml">
                <img src="{{ "img/investigation.png" | relURL }}" class="mb-3" height="60px" alt="visibility and investigation logo"/>
            </object>
            <h4 class="text-primary">Visibility &amp; investigation</h4>
            <p class="mt-3">A growing number of services connect to the Internet, sometimes despite your decisions. Are your strategic data on sale on the darkweb? How about apps' unexpected behaviours or hazardous personal data leakage?</p>
            <div class="mt-2 mb-5 text-center d-block d-md-none d-lg-none d-xl-none">
                <a class="btn btn-primary" href="/en/products-services#visibility-investigation">More information</a>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <object data="{{ "img/training.svg" | relURL }}" class="mb-3" height="60px" type="image/svg+xml">
                <img src="{{ "img/training.png" | relURL }}" class="mb-3" height="60px"/>
            </object>
            <h4 class="text-primary">Capacity building</h4>
            <p class="mt-3">People matter: the value of an organisation is that of the talents who compose it. We offer tailored training to guide you through your much-needed culture change.</p>
            <div class="mt-2 mb-5 text-center d-block d-md-none d-lg-none d-xl-none">
                <a class="btn btn-primary" href="/en/products-services#capacity-building">More information</a>
            </div>
        </div>
      </div>

       <div class="row d-none d-md-block d-lg-block d-xl-block">
        <div class="row justify-content-md-center">
            <div class="col-md-3 text-center">
                <a class="btn btn-primary" href="/en/products-services#mobile-apps-security">More information</a>
            </div>
            <div class="col-md-3 text-center">
                <a class="btn btn-primary" href="/en/products-services#iot-security">More information</a>
            </div>
            <div class="col-md-3 text-center">
                <a class="btn btn-primary" href="/en/products-services#visibility-investigation">More information</a>
            </div>
            <div class="col-md-3 text-center">
                <a class="btn btn-primary" href="/en/products-services#capacity-building">More information</a>
            </div>
        </div>
      </div>

      <hr>
      <div class="row justify-content-md-center">
        <a id="suivre-notre-actualité"></a>
        <div class="col-md-10 text-center">
            <iframe sandbox="allow-scripts allow-forms" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://app.mailjet.com/widget/iframe/3N8H/bnb" width="100%" height="353"></iframe>
        </div>
      </div>

      <hr>
      <div class="row justify-content-md-center mt-5">
            <div class="col-md-5 text-center">
                <h6><a id="contact-us"></a>Contact</h6>
                <h4 class="text-muted">Need a PoC? Have a project?</h4>
                <p class="">
                    <strong><a id="mailto" href="mailto:Not for you robots :-)">Please activate javascript for our direct email to be displayed.</a></strong>
                </p>
                <ul class="list-unstyled">
                    <li>Defensive Lab Agency</li>
                    <li>31 avenue de Ségur</li>
                    <li>75007 Paris</li>
                </ul>
            </div>
            <div class="col-md-5 text-center">
                <iframe sandbox="allow-scripts" width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=2.307541966438294%2C48.85020348556333%2C2.311082482337952%2C48.85183429480329&amp;layer=mapnik&amp;marker=48.85101889682306%2C2.3093122243881226"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=48.85102&amp;mlon=2.30931#map=19/48.85102/2.30931&amp;layers=N">Clic to enlarge the map view</a></small>
            </div>
      </div>

      <!-- <hr>
      <div class="row justify-content-md-center mt-5 small text-muted">
            <div class="col-md-2 text-center">
                <img src="{{ "img/big-logo.png" | relURL }}" width="80px" height="80px" class="d-inline-block align-top" alt="{{ .Title }} logo">
            </div>
            <div class="col-md-3">
                <strong>Who we are</strong>
                <ul class="list-unstyled">
                    <li>Our vision</li>
                    <li>Our products and services</li>
                    <li>Privacy policy</li>
                </ul>
            </div>
            <div class="col-md-3">
                <strong>Resources</strong>
                <ul class="list-unstyled">
                    <li>GitHub</li>
                    <li>LinkedIn</li>
                    <li>Twitter</li>
                </ul>
            </div>
            <div class="col-md-3">
                <strong>Get in touch</strong>
                <ul class="list-unstyled">
                    <li>Tél. xxxx</li>
                    <li><a href="mailto:contact@defensive-lab.agency">contact@defensive-lab.agency</a></li>
                </ul>
            </div>
      </div> -->

    </div>
    {{ partial "footer" . }}
    <script src="{{ "js/jquery.min.js" | relURL }}"></script>
    <script src="{{ "js/popper.min.js" | relURL }}"></script>
    <script src="{{ "js/bootstrap.min.js" | relURL }}"></script>
    <script src="{{ "js/main.js" | relURL }}"></script>
  </body>
</html>
