  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Defensive Lab Agency</title>
      {{ $css := resources.Get "css/main.css" | minify }}
      {{ $secureCSS := $css | resources.Fingerprint "sha512" }}
      <link rel="stylesheet" href="{{ $secureCSS.Permalink }}" integrity="{{ $secureCSS.Data.Integrity }}">
      {{ $css := resources.Get "css/animate.min.css" | minify }}
      {{ $secureCSS := $css | resources.Fingerprint "sha512" }}
      <link rel="stylesheet" href="{{ $secureCSS.Permalink }}" integrity="{{ $secureCSS.Data.Integrity }}">
      <link rel="icon" type="image/png" href="/images/favicon.png">
    </head>
    <body>

      <section class="hero is-fullheight is-default is-bold">
        {{- partial "nav.html" . -}}

        <div class="hero-body is-primary">
          <div class="container">
            <div class="columns is-vcentered">
              <div class="column is-5 is-offset-1 landing-caption">
                <h1 class="title is-1 is-bold is-spaced">
                  Mobile security &amp; regulatory compliance
                </h1>
                
                <h2 class="subtitle is-6 is-muted">
                  <!-- Defensive Lab Agency is located in France but provides services world-wide. -->
                </h2>
               
                <p>
                  <a class="button is-primary is-rounded animate__animated animate__fadeIn" href="#solutions">
                    What we do
                  </a>
                </p>
              </div>
              <div class="column is-5 ">
                <figure class="image is-4by3">
                  <img id="hero-svg" type="image/svg+xml" src="images/hero.svg" class="animate__animated animate__fadeIn">
                </figure>
              </div>
            </div>
          </div>
        </div>
          
        <div class="hero-foot mb-20">
          <div class="container">
            <div class="tabs is-centered">
              <ul>
                <li>
                  <a>
                    <img class="partner-logo" src="images/logos/clients/wsj.svg">
                  </a>
                </li>
                <li>
                  <a>
                    <img class="partner-logo" src="images/logos/clients/amnesty.svg">
                  </a>
                </li>
                <li>
                  <a>
                    <img class="partner-logo" src="images/logos/clients/berty.svg">
                  </a>
                </li>
                <li>
                  <a>
                    <img class="partner-logo" src="images/logos/clients/pltv.jpg">
                  </a>
                </li>
                <li>
                  <a>
                    <img class="partner-logo" src="images/logos/clients/ep.svg">
                  </a>
                </li>
                <li>
                  <a>
                    <img class="partner-logo" src="images/logos/clients/kobre.png">
                  </a>
                </li>
                <li>
                  <a>
                    <img class="partner-logo" src="images/logos/clients/menj.svg">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section id="solutions" class="hero is-fullheight is-bold">
        <span id="products"></span>
        <span id="services"></span>
        <div class="hero-body is-primary">
          <div class="container">
            <div class="columns mb-6">
              <div class="column is-12 has-text-centered">
                <h1 class="title is-1 is-bold is-spaced">Solutions</h1>
                <p class="has-text-grey-light">
                  We are experts in mobile security from regulatory compliance to deep technical analysis.
                </p>
              </div>
            </div>
            <div class="columns">

              <div class="column is-4">
                <div class="box service">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image is-64x64">
                        <img src="/images/law-book.svg" class="">
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p class="is-primary">
                          <strong class="title is-5">Regulatory compliance audit</strong>
                          <br><br>
                          We perform GDPR, SSI (Information Systems Security) maturity, ISO 27001, SecNumCloud, ARJEL, COBIT, ENISA IoT, HDS, LPM, NIS compliance audits for you. 
                        </p>
                        <div class="has-text-right">
                          <a href="mailto:contact@defensive-lab.agency?subject=Regulatory compliance auditt" class="">
                            <span class="button is-primary is-rounded is-small">
                              Schedule an audit
                            </span>
                          </a>
                        </div>
                      </div>
                  </article>
                </div>
              </div>

              <div class="column is-4">
                <div class="box service">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image is-64x64">
                        <img src="/images/security.svg" class="">
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p class="">
                          <strong class="title is-5">Training</strong>
                          <br><br>
                          We perform several trainings: EBIOS Risk Manager, GDPR discovery, risks and threats, how to protect your digital identity, DPO, secure coding and more.
                        </p>
                        <div class="has-text-right">
                          <a href="mailto:contact@defensive-lab.agency?subject=Training" class="">
                            <span class="button is-primary is-rounded is-small">
                              Schedule a training
                            </span>
                          </a>
                        </div>
                      </div>
                  </article>
                </div>
              </div>

              <div class="column is-4">
                <div class="box service">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image is-64x64">
                        <img src="/images/binary.svg" class="">
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p class="is-primary">
                          <strong class="title is-5">Technical analysis and support</strong>
                          <br><br>
                          We help you from the ideation to the release of your mobile application. We give you advices and insights on how to make your app and data being secure.
                        </p>
                        <div class="has-text-right">
                          <a href="mailto:contact@defensive-lab.agency?subject=Technical analysis and support" class="">
                            <span class="button is-primary is-rounded is-small">
                              Get support
                            </span>
                          </a>
                        </div>
                      </div>
                  </article>
                </div>
              </div>

            </div>
            <div class="columns">

              <div class="column is-4">
                <div class="box service">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image is-64x64">
                        <img src="/images/shield.svg" class="">
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p class="is-primary">
                          <strong class="title is-5">Security audit and pentesting</strong>
                          <br><br>
                          We perform various security audits and pentesting of your API endpoints, mobile apps and its 3rd-parts following MITRE and OWASP guidelines.
                        </p>
                        <div class="has-text-right">
                          <a href="mailto:contact@defensive-lab.agency?subject=Security audit and pentesting" class="">
                            <span class="button is-primary is-rounded is-small">
                              Schedule an audit
                            </span>
                          </a>
                        </div>
                      </div>
                  </article>
                </div>
              </div>

              <div class="column is-4">
                <div class="box product">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image is-64x64">
                        <img src="/images/phishing.svg" class="">
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p class="is-primary">
                          <strong class="title is-5">Mobile app fraud detection</strong>
                          <br><br>
                          We provide a SaaS product meant to detect, track and analyze malicious apps mimicking yours. You are notified each time your app has been counterfeited.
                        </p>
                        <div class="has-text-right">
                          <a href="/products/scatterscam/" class="">
                            <span class="button is-primary is-rounded is-small">
                              Learn more
                            </span>
                          </a>
                        </div>
                      </div>
                  </article>
                </div>
              </div>

              <div class="column is-4">
                <div class="box service">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image is-64x64">
                        <img src="/images/diagram-1.svg" class="">
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p class="is-primary">
                          <strong class="title is-5">Risk assessment</strong>
                          <br><br>
                          Based on your technical environment, your app eco-system and your business, we provide detailed risk assessment telling you what are the threats you face.
                        </p>
                        <div class="has-text-right">
                          <a href="mailto:contact@defensive-lab.agency?subject=Risk assessment" class="">
                            <span class="button is-primary is-rounded is-small">
                              Contact us
                            </span>
                          </a>
                        </div>
                      </div>
                  </article>
                </div>
              </div>

            </div>
            <div class="columns">

              <div class="column is-4">
                <div class="box product">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image is-64x64">
                        <img src="/images/fingerprint.svg" class="">
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p class="is-primary">
                          <strong class="title is-5">Mobile app behavior analysis</strong>
                          <br><br>
                          We provide a SaaS product meant to automatically detect suspicious behaviors and data collections in Android applications and SDK (JAR, AAR).
                        </p>
                        <div class="has-text-right">
                          <a href="/products/aether/" class="">
                            <span class="button is-primary is-rounded is-small">
                              Learn more
                            </span>
                          </a>
                        </div>
                      </div>
                  </article>
                </div>
              </div>

              <div class="column is-4">
                <div class="box service">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image is-64x64">
                        <img src="/images/malware.svg" class="">
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p class="is-primary">
                          <strong class="title is-5">Malware reverse engineering</strong>
                          <br><br>
                          We perform behavioral and technical reverse engineering of Android malwares and other mobile cyber threats using both static and dynamic analysis.
                        </p>
                        <div class="has-text-right">
                          <a href="mailto:contact@defensive-lab.agency?subject=Malware reverse engineering" class="">
                            <span class="button is-primary is-rounded is-small">
                              Contact us
                            </span>
                          </a>
                        </div>
                      </div>
                  </article>
                </div>
              </div>

              <div class="column is-4">
                <div class="box service">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image is-64x64">
                        <img src="/images/justice.svg" class="">
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p class="is-primary">
                          <strong class="title is-5">Security expert witness</strong>
                          <br><br>
                          We provide technical consulting to lawyers on software disputes, regulatory compliance cases, cyber threats analysis and mobile forensic.
                        </p>
                        <div class="has-text-right">
                          <a href="mailto:contact@defensive-lab.agency?subject=Security expert witness" class="">
                            <span class="button is-primary is-rounded is-small">
                              Engage us
                            </span>
                          </a>
                        </div>
                      </div>
                  </article>
                </div>
              </div>

            </div>

          </div>
        </div>
      </section>


      {{- partial "footer.html" . -}}

    </body>
  </html>
